body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #333;
}

.event-list {
    list-style-type: none;
    padding: 0;
    overflow-y: auto;
}

.event-item {
    background-color: #131842;
    color: #fff;
    border-radius: 10px;
    margin: 20px 0;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.event-name {
    font-size: 1.5em;
    margin: 0 0 10px;
    color: #ff6347; 
}

.event-details {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.event-date,
.event-location {
    margin: 5px 10px 5px 0;
    color: #87ceeb; 
    font-size: 20px;
}

.bold-date{
    font-weight: bold;
}

.event-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-left: 60px;
}

.event-buttons button {
    margin-right: 10px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9em;
    color: #fff;
}

.update-btn {
    background-color: #007bff;
}

.delete-btn {
    background-color: #dc3545;
}

.register-btn {
    background-color: #28a745;
}

@media (max-width: 600px) {
    .event-details {
        flex-direction: column;
        align-items: flex-start;
    }
    
    .event-buttons {
        justify-content: flex-start;
        margin-left: 0;
    }
    
    .event-buttons button {
        display: block;
        margin: 5px 0;
    }
}
